{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new User</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            <input type="submit" value="Save" class="btn btn-primary">
        {{ form_end(form) }}

        <a href="/user" class="back-to-list">Back to list</a>
    </div>
{% endblock %}
